$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;

// Height variables
$carousel-item-height: 300px;

//Mixin
@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-dn $pad-left-right;
}

body {
	padding: 50px 0 0 0;
	z-index: 0;
}
a:hover {
	text-decoration: none;
}
input {
    border: none;
    border-radius: 7px;
    padding: 5px;
}

/* Start Navbar*/

.navbar-dark {
	background-color: $background-dark;
}
#loginModelToggle{
    cursor: pointer;
}
/*End Navbar*/

/* Start Login */
.login{
    .modal-dialog {
        color: #000;
    }
    .modal-content {
        color: #fff;
        .modal-header{
            background-color: $background-dark;
            border: 0;
            .close {
                color: #fff;
            }
        }
        .modal-body{
            background-color: $background-light;
            .form-check label {
                color: #000
            }
        }
    }
}

/*End Login */

/* Start jumbotron */
.jumbotron {
	@include zero-margin(70px, 30px);
	background: $background-light;
	color: floralwhite;
    .row-header {
        @include zero-margin(0px, 0px);
        .botton-ReserveTable button {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: -1px;
        }
        a.botton-ReserveTable {
            text-decoration: none;
            color: #000;
        }
        .ReserveTabl .section {
            margin-bottom: 20px;
        }
    }
}

/* End jumbotron */



.tab-content {
    border: 0;
	.modal-header{
        color: #fff;
        background-color: $background-dark;
        border: none;
        .close{
            color: #fff;
        }
    }
    .modal-body {
        background-color: $background-light;
        .add-width{
            width: 538px;
        }
        .date-time{
            padding: 0;
            margin-right: 10px;
        }
    }
}
/* Start carousel*/
.carousel {
	background-color: $background-dark;
	.carousel-item {
		height: 300px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			min-height: 300px;
			.ahmedImg {
				max-height: 300px !important;
			}
		}
	}
}

.carousel-caption {
	margin-bottom: 36px;
}
/* End carousel*/

.card-header a {
	text-decoration: none;
	color: rgb(26, 26, 26);
}




#carouselButton {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 3;
}

.row-content {
	@include zero-margin(40px, 0px);
	border-bottom: 1px ridge;
	min-height: 200px;
}

.footer {
	background-color: $background-pale;
	@include zero-margin(20px, 0px);
}

address {
	font-size: 80%;
	margin: 0px auto;
	color: #0f0f0f;
}
