body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.row-header{
    margin:0px auto ;
    padding:0px auto ;
}

.row-content{
    margin: 0px auto;
    padding: 40px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px;
}

.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px auto;
    color: #0f0f0f;
}

.navbar-dark{
    background-color: #512da8;
}

.card-header a{
    text-decoration: none;
    color: rgb(26, 26, 26);
}

a.botton-ReserveTable{
    text-decoration: none;
    color: #000;
}

.botton-ReserveTable button{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}